body {
    text-align: center;
    border-color: red;
    border-style: dashed;
    padding: 10px;
    background-color: rgb(196, 237, 239);
}


.heading {
    color: blue;
    text-align: center;
    padding: 10px;
}

.result{
    color: rgb(204, 17, 229);
    text-align: center;
    padding: 10px;
    font-size: 20px;
}


.but {
    height: 40px;
    width: 70px;
    border:none;
    border-radius: 20px;
    font-size: 15px;

}